Host header field does not mention non-standard ports

This appears to have changed somewhere between 0.4.1-beta3 and 0.4.1.

[icecap][ic] has an [HTTP hander test][test] that fails as follows after upgrading to 0.4.1:

```
FAIL in (http-tests) (http_test.clj:70)
expected: {:remote-addr "127.0.0.1",
           :headers {"host" "localhost:8378", "content-length" "0"},
           :server-port 8378,
           :keep-alive? true,
           :uri "/test/example",
           :server-name "localhost",
           :query-string nil,
           :body nil,
           :scheme :http,
           :request-method :get}
  actual: {:remote-addr "127.0.0.1",
           :headers {"host" "localhost", "content-length" "0"},
           :server-port 8378,
           :keep-alive? true,
           :uri "/test/example",
           :server-name "localhost",
           :query-string nil,
           :body nil,
           :scheme :http,
           :request-method :get}
    diff: - {:headers {"host" "localhost:8378"}}
          + {:headers {"host" "localhost"}}
```

I think this might be a bug. However, the [current relevant RFC section (RFC 7230, §5.4)][rfc] says nothing explicit about what happens for nonstandard ports. The [old RFC][oldrfc] was explicit about this requirement:

> A "host" without any trailing port information implies the default port for the service requested (e.g., "80" for an HTTP URL).

If I'm reading the current RFC correctly; the Host header depends on what the request sent:

> A client MUST send a Host header field in all HTTP/1.1 request messages.  If the target URI includes an authority component, then a client MUST send a field-value for Host that is identical to that authority component, excluding any userinfo subcomponent and its "@" delimiter (Section 2.7.1).

That test does use a URL with that port specified; so I think the old behavior was correct. Not sure if this changed in aleph or in netty; I'd be happy to dig down into that and submit a fix if this change wasn't intentional and you read the RFC the same way I do :-)

[ic]: https://www.github.com/lvh/icecap
[test]: https://github.com/lvh/icecap/blob/master/test/icecap/e2e/http_test.clj#L69-L81
[rfc]: https://tools.ietf.org/html/rfc7230#section-5.4
[oldrfc]: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23

The issue that led to this change can be found at https://github.com/ztellman/aleph/issues/210.  Looking at the linked RFC, the grammar mentions the port, but doesn't say why it might or might not be included.  The current logic driving the inclusion of the port is here: https://github.com/ztellman/aleph/blob/master/src/aleph/http/client.clj#L288.  

If you think I've misread the RFC, I'm willing to reconsider, but right now I'm leaning towards leaving this as they are.



Thanks for your reply! That issue appears to deal with default ports. The old RFC specified omission was optional in that case. I have heard (but not personally experienced) that concern about crummy servers before. However, this is a non-standard port; it appears both the old and current RFCs are unambiguous that the port should be in the Host header in that case.

I know some folks who have more experience maintaining HTTP libraries (client/server) than I do; I'll reach out to them to see if they can provide some context re: either point.

In addition to my own parsing, I've conferred with @glyph (founder, Twisted) and @lukasa (author, hyper HTTP/2 library). Both confirm "nonstandard port -> mandatory in Host"; former confirms "don't add "optional" standard port because some servers are terrible".

Assuming you're OK with the current RFC interpretation that the host header value contains the port iff the specified URL does, I'd be happy to implement that. I'd also be happy to implement the version that always strips the port if it is the default even though it is specified in the URL, although I believe that to be incorrect; and ironically you need that to connect to some of the arcanely configured IIS servers.

Context: old bad IIS checks host  headers against a literal list; if configuration specifies the port even when it's the default; you must specify the port in Host header as well. These boxes are even rarer than the usual broken IIS; specifying the default port explicitly is rare to begin with, plus they're quick to receive attention since so many clients will fail to connect.

I'm pretty sure that the current implementation adheres to "the host header value contains the port iff the specified URL does", but if there's some way it doesn't that seems like a reasonable compromise to me.  For all other special workarounds, anyone is free to set their own "Host" header without the port, which I think is a good enough escape hatch.

Derp. That caused me to re-examine the current behavior. So the _actual_ bug here was that my test had expected and actual reversed, so I was misinterpreting the test failure. You're right; aleph previously (incorrectly) was not adding the port, and the current version (correctly) adds it. Sorry!

No worries, I appreciate you checking with other people writing HTTP libraries, since I wasn't sure what's the "standard" approach to this behavior.

I've now heard from one other person, so I'm reasonably confident the behavior you described is the best possible one; i.e. add it to the Host header if and only if it was in the request URL.