Responses to HTTP HEAD should be able to have nonzero Content-Length and no body

In 0.4.1-alpha2, responding to HEAD without a body causes the client to receive Content-Length:0.  That is legal HTTP, but it would be nice (as per the "SHOULD" in RFC 2616, section 9.4) to be able to respond to HEAD with a nonzero Content-Length and no body.

```
9.4 HEAD

   The HEAD method is identical to GET except that the server MUST NOT
   return a message-body in the response. The metainformation contained
   in the HTTP headers in response to a HEAD request SHOULD be identical
   to the information sent in response to a GET request. ...
```

When responding to HEAD, if the body is given Aleph should compute the body's length but not serve the body.  This would cover all cases (supposing the handler returned a body for Aleph to count the size of) but a shortcut would be nice when the handler knows the length in advance: the handler could provide Content-Length instead of a body:

```
(defn handler [req]
  (case (:request-method req)   
    :head
    {:status 200
     :headers {"content-type" "binary/octet-stream"
               "content-length" 6}}

    {:status 405}))

$ telnet localhost 8080
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
HEAD / HTTP/1.0

HTTP/1.1 200 OK
Content-Type: binary/octet-stream
Server: Aleph/0.4.0
Connection: Close
Date: Sat, 22 Aug 2015 19:42:56 GMT
content-length: 0  <---- hoped for 6
```


This has been fixed.